<?xml version="1.0" encoding="UTF-8"?>
<server>
    <handler>
        <handler-class>xmu.ackerman.handler.entityHandler.IndexHandler</handler-class>
        <file-path>/index.html</file-path>
    </handler>

    <handler>
        <handler-class>xmu.ackerman.handler.entityHandler.error.Error404Handler</handler-class>
        <file-path>/error/error_404.html</file-path>
    </handler>
</server>